POSTGRES_USER=elimu_user
POSTGRES_PASSWORD=elimu_password
POSTGRES_DB=elimu_hms
DATABASE_URL=postgresql+psycopg2://elimu_user:elimu_password@db:5432/elimu_hms

REDIS_URL=redis://redis:6379/0
JWT_SECRET_KEY=change_this_to_a_strong_secret
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

BACKEND_CORS_ORIGINS=http://localhost:3000

PGADMIN_DEFAULT_EMAIL=admin@elimu.local
PGADMIN_DEFAULT_PASSWORD=admin123
